# General
NuGet/
containers/
fish/
ghc/
htop/
iterm2/
karabiner/automatic_backups
neofetch/
nvim/lazy-lock.json
wireshark/

# Home stuff 
exercism/

# Work stuff
.jira/
github-copilot/
hs/
nvim/lua/moorej/lazy/copilot.lua

# OS Junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
