# General
containers/
karabiner/automatic_backups
neofetch/
NuGet/
wireshark/

# Home stuff 
exercism/

# Work stuff
.jira/
github-copilot/
nvim/lua/moorej/lazy/copilot.lua

# OS Junk
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
